body
{
    padding:0px;
    margin:0px;
    height: 99vh;
    background: black;
}

#common-navbar
{
    position: fixed;
    width: 100%;
}

.card{
    position:absolute;
    transition: 100ms;
    vertical-align: middle;
    text-align: center;
    cursor: grab;
}

.card:active{
    cursor: grabbing;
}

    #cav1{
        background-color:white;
        background-image: url('../img/dots.png');
        position: absolute;
        top: 0px;
        z-index: -1;
    }

.icon{
    width: 18px;
    height: 18px;
}

.btn {
    text-align: left;
    width: 2.7em;
    height: 2.3em;
    overflow: hidden;
    transition: 100ms;
}
/*.btn:hover{
    width: auto;
}*/
#addNode:hover{
    width: 7.2em;
}

#addBeg:hover{
    width: 9.4em;
}

#addPos:hover{
    width: 10.9em;
}

#delNode:hover{
    width: 7.3em;
}

#goHome:hover{
    width: 6.3em;
}

footer {
    position: absolute;
    top:103vh;
    right: 0;
    width: 100%;
    background-color: #f2f2f2;
}

.nodes-canvas{
    padding-top:68px;
    height: 930px;
    -webkit-overflow-scrolling: touch;

}

/*::-webkit-scrollbar{
    display: none;
}*/
