body{
    background-image: url("../img/dots.png");
}
.table-container{
    min-height: 75vh;

}
.song-table{
    background: #fff;
    text-align: center;
}

tr{
    vertical-align: middle;
}

.tableHeader {
    background-color: var(--bs-indigo);
    color: #FFF;
}

.order{
    width: 130px;
}

.order-buttons{
    display: contents;
}


.btn {
    text-align: left;
    width: 2.7em;
    height: 2.3em;
    overflow: hidden;
    transition: 100ms;
}

.btn-arrow{
    width: inherit;
    height: inherit;
    font-size: 12px;
}

#add:hover{
    width: 7.4em;
}

#edit:hover{
    width: 6.4em;
}

#delete:hover{
    width: 7.3em;
}

#goHome:hover{
    width: 6.3em;
}

.form-control{
    display: inline-block;
    width: inherit;
}

.form-select{
    display: inline-block;
    width: inherit;
}

.save-btn{
    width: inherit;
}




