<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="css/styles.css" rel="stylesheet">
  <title>App personas</title>
</head>
<body>

<main>
  <div class="d-flex flex-column align-items-center px-4 py-5 my-5 text-center">

    <h1>Buscar nodo arbol</h1>
    <form class="d-flex flex-column gap-3 align-items-center" th:action="@{/arbol/buscarNodo}" th:method="patch" th:object="${nNodo}">
      <input th:field="*{valor}" class="form-control" type="number" placeholder="Valor del nodo" autocomplete="off" required/>
      <button class="btn btn-primary" type="submit">Buscar nodo<i class="bi bi-person-fill-add button-icon"></i></button>
    </form>
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>