<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=400px, maximum-scale=1.0" />
    <link href="css/error.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>

<div class="container">

    <div class="error">
        <p class="p">5</p>
        <span class="dracula">
			<div class="con">
				<div class="hair"></div>
				<div class="hair-r"></div>
				<div class="head"></div>
				<div class="eye"></div>
				<div class="eye eye-r"></div>
				<div class="mouth"></div>
				<div class="blod"></div>
				<div class="blod blod2"></div>
			</div>
		</span>
        <p class="p">0</p>

        <div class="page-ms">
            <button class="go-back" onclick="location.href='/'">Go Back</button>
        </div>
    </div>
</div>

<iframe style="width:0;height:0;border:0; border:none;" scrolling="no" frameborder="no" allow="autoplay" src="https://instaud.io/_/2Vvu.mp3"></iframe>

</body>
</html>