<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Matematicas discretas</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/008b26dd3d.css" crossorigin="anonymous">
    <link href="img/favicon.svg" rel="icon" type="image/svg+xml">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=400px, maximum-scale=1.0" />

    <title>Matematicas discretas</title>
</head>
<body>
    <div style="text-align: center">
        <h1>Aquí van a ir los nodos</h1>
    </div>

    <form th:action="@{/crearEstudiante}" th:method="get">
        <button>Crear nodo sexoso</button>
    </form>
    <button onclick="location.href='/'">Volver al home</button>

    <div class="row">
        <div class="col-lg-3" th:each="itemEstudiante : ${estudiantes}">
            <div class="card">
        <!--<tbody>-->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" scope="row" th:text="${itemEstudiante.nombre}"></li>
                    <li class="list-group-item" th:text="${itemEstudiante.codigo}"></li>
                    <li class="list-group-item" th:text="${itemEstudiante.numeroNodo}"></li>
                </ul>
        <!--</tbody>-->
            </div>
        </div>
    </div>



</body>
</html>