<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Matematicas discretas</title>
</head>
<body>
    <div style="text-align: center">
        <h1>Aquí van a ir los nodos</h1>
    </div>

    <form th:action="@{/crearEstudiante}" th:method="get">
        <button>Crear nodo</button>
    </form>
    <button onclick="location.href='/'">Volver al home</button>

    <div style="text-align: center" th:each="itemEstudiante : ${estudiantes}">
        <tbody>
        <tr>
            <th scope="row" th:text="${itemEstudiante.nombre}"></th>
            <td th:text="${itemEstudiante.codigo}"></td>
            <td th:text="${itemEstudiante.numeroNodo}"></td>
        </tr>
        </tbody>
    </div>


</body>
</html>