<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Matematicas discretas</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="css/nodes.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/008b26dd3d.css" crossorigin="anonymous">
    <link href="img/favicon.png" rel="icon" type="image/png">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=400px, maximum-scale=1.0" />

    <title>Matematicas discretas</title>
</head>

<body>

    <div style="z-index:1; position:absolute;width: 100%;">
        <div id="common-navbar"></div>
    </div>
    <div style="position: absolute; display: inline-block; top: 68px;">
        <form th:action="@{/crearEstudianteAlFinal}" th:method="get">
            <button class="m-2 rounded-2  mx-4 btn btn-primary"><i class="fa-solid fa-circle-plus icon"></i><span class="btn-txt"> > Agregar</span></button>
        </form>
        <form th:action="@{/crearEstudianteAlInicio}" th:method="get">
            <button class="m-2 rounded-2  mx-4 btn btn-primary"><i class="fa-solid fa-circle-plus icon"></i><span class="btn-txt"> > A.inicio</span></button>
        </form>
        <form th:action="@{/crearEstudianteXPosicion}" th:method="get">
            <button class="m-2 rounded-2  mx-4 btn btn-primary"><i class="fa-solid fa-circle-plus icon"></i><span class="btn-txt"> > A.X</span></button>
        </form>
        <button class=" m-2 rounded-2 mx-4 btn btn-dark" onclick="location.href='/'"><i class="fa-solid fa-house icon"></i> > Inicio</button>
    </div>

    <div class="nodes-canvas">
       <div th:each="itemEstudiante : ${estudiantes}" >
            <div class="card col-2 col-lg-1" th:id=" 'c' + ${itemEstudiante.numeroNodo}" th:style="'left:' + (300 * ${itemEstudiante.numeroNodo}) + 'px; top:30%'">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" scope="row" th:text="${itemEstudiante.nombre}"></li>
                    <li class="list-group-item" th:text="${itemEstudiante.codigo}"></li>
                    <li class="list-group-item bg-dark text-white-50" th:text="'Nodo ' + ${itemEstudiante.numeroNodo}"></li>
                </ul>
            </div>
        </div>
    </div>

    <p id="numNodos" style="display:none;" th:text="${numeroNodos}"></p>


    <footer id="common-footer" class="footer"></footer>


    <!-- Scripts de bootstrap-->
    <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/008b26dd3d.js" crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://lottie.host/751414f0-6980-45c2-bfe6-f2bccf237ef5/f6fKA2YLfE.json" type="text/javascript"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@0.4.0/dist/lottie-player.js"></script>
    <!-- JQueries-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <!--Custom Libraries-->
    <script src="js/line.js" type="text/javascript"></script>
    <script src="js/node.js" type="text/javascript"></script>
    <script src="js/assets.js" type="text/javascript"></script>

</body>
</html>