<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8">
        <title>PlayList</title>

        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="css/fontawesome.css" rel="stylesheet" type="text/css">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <link href="css/playList.css" rel="stylesheet" type="text/css">
        <link href="img/favicon.png" rel="icon" type="image/png">

    </head>
</head>
<body>
    <header id="common-navbar"></header>

    <div class="container table-container py-5">
        <table class="table table-striped song-table">
            <thead th:class="tableHeader">
                <tr>
                    <th scope="col">Posición</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Duracion</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="itemCancion : ${listaCanciones}">
                    <td th:text="${itemCancion.posicion}"></td>
                    <td th:text="${itemCancion.titulo}"></td>
                    <td th:text="${itemCancion.autor}"></td>
                    <td th:text="${itemCancion.genero}"></td>
                    <td th:text="${itemCancion.duracion}"></td>
                    <th:block th:switch="${itemCancion.posicion}">
                        <td th:case="'1'" class="order">
                            <th:block th:if="${numCanciones == 1}">
                                <form class="order-buttons">
                                    <button class="m-2 rounded-2 btn btn-secondary btn-arrow" disabled title="Subir"><i class="bi bi-arrow-bar-up"></i></button>
                                    <button class="m-2 rounded-2 btn btn-secondary btn-arrow" disabled title="Bajar"><i class="bi bi-arrow-bar-down"></i></button>
                                </form>
                            </th:block>
                            <th:block th:if="${numCanciones > 1}">
                                <form class="order-buttons">
                                    <button class="m-2 rounded-2 btn btn-secondary btn-arrow" disabled title="Subir"><i class="bi bi-arrow-bar-up"></i></button>
                                </form>
                                <form th:action="@{/playList/bajarCancion}" method="post" class="order-buttons">
                                    <input type="hidden" name="id" th:value="${itemCancion.id}" />
                                    <button class="m-2 rounded-2 btn btn-primary btn-arrow" title="Bajar"><i class="bi bi-arrow-bar-down"></i></button>
                                </form>
                            </th:block>
                        </td>
                        <td th:case="${numCanciones}" class="order">
                            <form th:action="@{/playList/subirCancion}" method="post" class="order-buttons">
                                <input type="hidden" name="id" th:value="${itemCancion.id}" />
                                <button class="m-2 rounded-2 btn btn-primary btn-arrow" title="Subir"><i class="bi bi-arrow-bar-up"></i></button>
                            </form>
                            <form class="order-buttons">
                                <button class="m-2 rounded-2 btn btn-secondary btn-arrow" disabled title="Bajar"><i class="bi bi-arrow-bar-down"></i></button>
                            </form>
                        </td>
                        <td th:case="*" th:default class="order">
                            <form th:action="@{/playList/subirCancion}" method="post" class="order-buttons">
                                <input type="hidden" name="id" th:value="${itemCancion.id}" />
                                <button class="m-2 rounded-2 btn btn-primary btn-arrow" title="Subir"><i class="bi bi-arrow-bar-up"></i></button>
                            </form>
                            <form th:action="@{/playList/bajarCancion}" method="post" class="order-buttons">
                                <input type="hidden" name="id" th:value="${itemCancion.id}" />
                                <button class="m-2 rounded-2 btn btn-primary btn-arrow" title="Bajar"><i class="bi bi-arrow-bar-down"></i></button>
                            </form>
                        </td>
                    </th:block>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="position: fixed; display: inline-block; top: 68px;">
        <form th:action="@{/crearCancion}" th:method="get">
            <button id="add" class="m-2 rounded-2  mx-4 btn btn-primary"><i class="fa-solid fa-circle-plus"></i><span class="btn-txt"> Agregar( )</span></button>
        </form>
        <form th:action="@{/editarCancion}" th:method="get">
            <button id="edit" class="m-2 rounded-2  mx-4 btn btn-primary"><i class="fa-solid fa-pencil"></i><span class="btn-txt"> Editar( )</span></button>
        </form>
        <form th:action="@{/eliminarCancion}" th:method="get">
            <button id="delete" class="m-2 rounded-2  mx-4 btn btn-danger"><i style="margin-left: 2px" class="fa-solid fa-trash-can"></i><span class="btn-txt"> Eliminar( )</span></button>
        </form>
        <button id="goHome" class=" m-2 rounded-2 mx-4 btn btn-dark" onclick="location.href='/'"><i class="fa-solid fa-house icon"></i> Inicio( )</button>
    </div>
    <footer id="common-footer"></footer>
    <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <!-- JQueries-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <!--Custom Libraries-->
    <script src="js/line.js" type="text/javascript"></script>
    <script src="js/leaf.js" type="text/javascript"></script>
    <script src="js/assets.js" type="text/javascript"></script>
</body>
</html>