<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Playlist</title>
</head>
<body>

    <form th:action="@{/crearCancion}" th:method="get">
        <button>Agregar</button>
    </form>
    <form th:action="@{/eliminarCancion}" th:method="get">
        <button>Eliminar</button>
    </form>
    <form th:action="@{/editarCancion}" th:method="get">
        <button>Editar</button>
    </form>

    <table>
        <tr>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Genero</th>
            <th>Duracion</th>
        </tr>
        <tr th:each="itemCancion : ${listaCanciones}" >
            <td th:text="${itemCancion.titulo}"></td>
            <td th:text="${itemCancion.autor}"></td>
            <td th:text="${itemCancion.genero}"></td>
            <td th:text="${itemCancion.duracion}"></td>
        </tr>
    </table>
</body>
</html>