<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TreeS</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="css/tree.css" rel="stylesheet" type="text/css">
    <link href="img/favicon.png" rel="icon" type="image/png">

</head>
<body>
<header id="common-navbar"></header>
<div class="nodes-canvas">
    <div th:each="itemNodo : ${listaNodos}">
        <div th:class="'card col-2 col-lg-1 leaf father'+ ${itemNodo.isFather} + ' c' + ${itemNodo.hijoDerecho != null  ?  itemNodo.hijoDerecho.id:'null'} + ' c' + ${itemNodo.hijoIzquierdo != null  ? itemNodo.hijoIzquierdo.id:'null'} + ' ' +${itemNodo.isSelected}"
             th:id=" 'c' + ${itemNodo.id}"
             th:style="'top: ' + (170 * (${itemNodo.nivelNodo})) + 'px; left: ' + ((50 / ${itemNodo.nivelNodo}) * (${itemNodo.valor}/50)) +'%'"
             th:text="${itemNodo.valor}">
        </div>
    </div>
</div>
<div>
    <canvas id="cav1"></canvas>
</div>

<div style="position: fixed; display: inline-block; top: 68px;">
    <form th:action="@{/crearNodo}" th:method="get">
        <button id="addNode" class="m-2 rounded-2  mx-4 btn btn-primary"><i style="margin-left: 3px;" class="fa-solid fa-forward-step"></i><span class="btn-txt"> Agregar( )</span></button>
    </form>
    <form th:action="@{/buscarNodo}" th:method="get">
        <button id="searchNode" class="m-2 rounded-2  mx-4 btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i><span class="btn-txt"> Buscar( )</span></button>
    </form>
    <form th:action="@{/eliminarNodo}" th:method="get">
        <button id="deleteNode" class="m-2 rounded-2  mx-4 btn btn-danger"><i style="margin-left: 2px;" class="fa-solid fa-trash-can"></i><span class="btn-txt"> Eliminar( )</span></button>
    </form>
</div>

<p id="numNodos" style="display:none;" th:text="${numeroNodos}"></p>

<footer id="common-footer" class="footer" style="position: absolute"></footer>
<div class="card p-4 console-orders">
    <p>-----[MÉTODOS DE ORDENAMIENTO]-----</p>
    <p th:text="'> PreOrde = [' + ${preOrden}+ ']'" ></p>
    <p th:text="'> InOrden = [' + ${inOrden} +']'"></p>
    <p th:text="'> PostOrden = [' + ${postOrden} + ']'"></p>
    <p><span class="blink-anim">_</span></p>
</div>


<!-- Scripts de bootstrap-->

<script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="https://kit.fontawesome.com/008b26dd3d.js" crossorigin="anonymous" type="text/javascript"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@0.4.0/dist/lottie-player.js"></script>
<!-- JQueries-->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<!--Custom Libraries-->
<script src="js/line.js" type="text/javascript"></script>
<script src="js/leaf.js" type="text/javascript"></script>
<script src="js/assets.js" type="text/javascript"></script>
</body>
</html>