.banner{
    width: 100%;
    height: 350px;
    background-image: url("../img/disc-maths.jpg");
    background-size: cover;
    background-position: center;
    background-position-y: 1000px;

}

.banner-overlay{
    width: 100%;
    height: 350px;
    background: rgba(0,0,0,0.7);
}

.image-background{
    background:lightgray;
}